<html>
<head>
  <title>Hi!</title>
  <link href="{{ STATIC_URL }}frameworks/flatui/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}frameworks/flatui/css/flat-ui.css" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}webapp/css/test.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
	      <img src="{{ STATIC_URL }}webapp/images/insider-logo-square.png" alt="some text" style="float:left;" width=150 height=150>	 
      <div class="nav-collapse in collapse" id="nav-collapse-01" style="height: auto;">
        <ul class="nav">
 	  <li>

	  </li>
	  <a href="#fakelink" class="btn btn-block btn-lg btn-primary pull-right">Login</a>
        </ul> <!-- /nav -->
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>



</body>
</html>
